<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Social-Reality.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A038702825E93D9D003989CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A038703E25E93D9E003989CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A038704925E93D9E003989CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
